* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

/* intro layout */
.intro {
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}


#matrix,
#category-page,
#checklist-page {
    width: 100%;
}

#checklist-page {
    height: 100vh;
}

#category-page {
    height: max-content;
}

.intro-logo {
    max-width: 100px;
    padding-top: 0.5em;
}

.welcome-page-container, .form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}

.welcome-text-container, .form-text-container {
    width: 90%;
}

.welcome-img-container, .form-img-container {
    width: 80%;
}

.intro-main-img, .form-main-img {
    max-width: 150px;
}

.intro a {
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    font-size: 2rem;
}

.welcome-page * {
    font-weight: 300;
    text-transform: uppercase;
}

.title {
    border-bottom: 3px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-img {
    width: 15px;
    border: 2px solid #000000;
    border-radius: 50%;
    padding: 0.2em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50%;
    margin-bottom: 0;
}

.description {
    padding: 0.2em 0.3em;
    margin-top: 1em;
    border-radius: 15px;
    letter-spacing: 0;
}

.description h3 {
    text-transform: lowercase;
    font-size: 1.8rem;
}

.description span {
    border-bottom: 4px solid #a7fcff;
    text-transform: lowercase;
    font-size: 1.8rem;
}

.intro-btn {
    display: flex;
    justify-content: end;
}

.start-btn {
    background: none;
    color: #000000;
    border: 2px solid #a7fcff;
    border-radius: 15px;
    padding: 0.4em 0.7em;
    margin: 1em 0.5em;
    font-size: 1.5rem;
    text-transform: lowercase;
}

.intro-form * {
    font-weight: 400;
}

.intro-form {
    display: none;
}

.form-title {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 1.5em 0.6em;
    padding: 0.3em 0.2em;
    font-size: 1.5rem;
}

.description,
.form-title {
    background: #d9d9d9;
}

#introForm-input, .choice-field input {
    background: none;
    border: none;
    width: 80%;
    border-bottom: 1px solid #000000;
    padding-bottom: 0.2em;
   margin: 1em 0;
}

.intro-form input::placeholder, .choice-field input {
    font-size: 1.5rem;
}

.intro-form input:focus {
    outline: none;
    background: none;
}

.intro-form input, .form-choice {
     font-size: 1.8rem;
}

.form-choice-btns {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.file-input-container,
.decline-btn-container {
    display: flex;
    flex-direction: column;
}

.file-input-container {
    justify-content: center;
}


.choice-btn {
    background: none;
    text-transform: uppercase;
    border: 2px solid #a7fcff;
    color: #000000;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0.4em 0.5em;
    margin: 1em 2em;
}

.intro-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-bottom: 1px solid #000000;
    border-radius: 4px;
}

/*___________________*/

.four-week {
    display: flex;
}

#month {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}


.month-button {
    font-size: 30px;
    margin: 0rem 0.2rem;
}

#prev-month,
#next-month {
    border: none;
    background: none;
    font-weight: 700;
    color: #000000;
}

#month-name {
    background: none;
    border: 1px solid #a7fcff;
    padding: 0.5em;
    color: #000000;
}


.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    overflow-y: auto;
    max-height: 150px;
    width: 155px;
    text-align: center;
    border: 1px solid #a7fcff;
    font-size: 1.3rem;
}


.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
    border-bottom: 1px solid #000000;
    background-color: rgb(215, 210, 210);
}

.dropdown-content a:hover {
    background-color: aliceblue;
}

.mobile-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

#matrix {
    width: 100%;
    padding-bottom: 3rem;
}

.week-label {
    text-align: center;
    background-color: #ece3e3;
    margin: 1rem 0rem;
}

.four-week {
    display: flex;
    width: 99%;
    justify-content: space-between;
}

.desktop-days {
    width: 24%;
    height: 500px;
    overflow-y: overlay;
    scrollbar-width: thin;
}

.days {
    width: 100%;
    margin-top: 1em;
}

.day-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-color: black;
    padding: 0.5em;
}


.day-header button {
    border: 3px solid #000000;
    border-radius: 5px;
    background: none;
    font-weight: 700;
    font-size: 1rem;
    color: #000000;
    padding: 0.1em 0.4em;
}

.task-list {
    width: 100%;
    padding-left: 0.5em;
}

.task-element {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-width: 0;
    font-size: 1.2rem;
}

.checklist-task-element {
    padding: 1em 0.8em;
    border-bottom: 1px solid #727272;
}

.name-and-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #727272;

}

.checkbox-label {
    width: 95%;
    color: #727272;
    padding: 0.5em 0;
    overflow: hidden;
}

.checkbox {
    width: 5%;
    align-items: center;
    justify-content: center;
    padding-right: 2em;
}

.checkbox-label:hover, .checkbox-box:hover{
    cursor: pointer;
}

#category-page {
    background: #f0f8ff;
    height: 100vh;
}

#category-page input {
    font-size: 1rem;
}

#add-category-button {
    background: none;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    user-select: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: #000000;
}


#new-category-name,
#category-entry button,
.new-activity-name,
.new-task-name,
.new-task-desc,
.new-task-date {
    border: 2px solid #000000;
    border-radius: 5px;
    background: none;
    color: #000000;
    padding: 0.8em 1.4em;
}

.category button {
    border: 1px solid #000000;
    background: none;
    font-size: 1rem;
    color: #000000;
}

#categories-container,
#category-entry {
    margin-left: 1.5em;
}

.categories-content {
    padding: 3em 0 0 3em;
    font-size: 1rem;
}


.category,
.activity,
.task {
    margin-left: 20px;
    margin-top: 10px;
}


.activity-input {
    margin: 10px 0;
}

.new-activity-name {
    margin-right: 5px;
}

.task-input {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.task-input-buttons {
    display: flex;
}

.new-task-day {
    margin-right: 5rem;
}

.new-task-name,
.new-task-desc,
.new-task-date {
    margin: 0.5em 0;
}

.task-input button {
    background: none;
    border: 2px solid #000000;
    padding: 0.5em 0.2em;
    color: #000000;
    border-radius: 5px;
}

.task-element:hover {
    background-color: rgb(228, 222, 222);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#detailed-desc {
    display: flex;
    flex-direction: column;
}


#back-n-day {
    display: flex;
    width: 100%;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.back-img  {
    height: 40px;
    margin: 0.5rem;
}

#desc-day {
    margin: 0.5rem;
}

#task-desc {
    width: 100%;
    height: 80%;
    background-color: rgba(0, 255, 209, 0.32);
}

.desc-item {
    margin: 1.5rem 0.5rem;
}

#deadline-desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desc-element:hover {
    background-color: rgba(0, 255, 208, 0.692);
}

.day-label {
    border: solid 1px;
}

.task-days {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.day-widget {
    border-bottom: 0.5px solid;
    margin: 0.6em 0.4em;
    text-align: center;
    color: #000000;
}

.day-widget button {
    padding: 0.1em 0.3em;
}

#add-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.3rem 0rem;
    max-width: 130px;
    color: #000000;
}

#add-day-submit,
#add-day-cancel,
#show-day-dropdrown,
#date-entry {
    border: 2px solid #000000;
    border-radius: 5px;
    background: none;
    color: #000000;
    font-size: 0.8rem;
    padding: 0.8em 0.8em;
}


#add-day-submit,
#add-day-cancel,
#show-day-dropdrown {
    font-weight: 600;

}

#date-entry input {
    font-weight: 300;
}


#add-day-button,
.day-widget button {
    border: 3px solid #000000;
    border-radius: 5px;
    background: none;
    font-weight: 700;
    font-size: 1.3rem;
    color: #000000;
}

.DateInput {
    width: 40px;
}

.DateYearInput {
    width: 60px;
}

.add-day-element {
    margin-top: 0.5rem;
}

#button-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1em;
}


#save-button,
#delete-button {
    background: none;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 15px;
    padding: 0.5em 1.5em;
    font-size: 1.5rem;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}

/* checklist layout */


.checklist-title {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

.checklist-day-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-header .day-name {
    font-size: 1.3rem;
}

.checklist-day {
    font-size: 1.5rem;
    font-weight: 300;
}

.checklist-add {
    border-bottom: 2px solid black;
    margin-top: 2em;
    padding-bottom: 0.5em;
}

.checklist-add h2,
p {
    margin: 0;
}

.checklist-task {
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
    color: rgba(0, 0, 0, 0.67);
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}

.checklist-name {
    font-size: 1.3rem;
}

.checklist-add-btn {
    background: none;
    border-radius: 5px;
    padding: 0;
    font-size: 1rem;
    padding: 0 0.2em;
}

:root {
    --primary-color-dark: #000;
    --secondary-color-dark: #777;
    --primary-color-light: #fff;
    --secondary-color-light: #a7fcff;
}


/* Header and navigation menu */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color-light);
    z-index: 1;
    border-bottom: 1px solid #000000;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#greeting {
    font-size: 1.5em;
    margin-right: 1.5em;
}
.userName {
    border-bottom: 3px solid #a7fcff;
}

.nav-toggle {
    display: block;
    text-align: right;
}

.nav-toggle-btn {
    background: none;
    border: none;
    padding: 0.95rem;
    cursor: pointer;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--primary-color-dark);
    margin: 0.33rem 0;
}


.nav-menu.active {
    display: flex;
    position: fixed;
}


body.blur > *:not(.header):not(#category-page):not(#checklist-page):not(#settings-page):not(#detail-overlay){
    filter: blur(3px);
  }

.nav-menu ul {
    padding: 0;
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color-dark);
    width: 200px;
    border-radius: 15px;
    text-align: left;
    margin-top: 0;
}

.nav-menu-list li {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 1rem 0.5em;
    list-style: none;
}

.nav-menu-list li:nth-child(3s) {
    border-top: 1px solid var(--primary-color-dark);
    border-bottom: 1px solid var(--primary-color-dark);
}

.nav-menu-list li a {
    color: var(--primary-color-dark);
    border: none;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.nav-menu-list li a:hover,
.nav-menu-list li a:focus,
.nav-menu-list li a:active {
    background: none;
    color: var(--secondary-color-dark);
}

.nav-menu {
    display: none;
}

.logo img {
    max-height: 50px;
    padding: 0.8em 0.5em 0 0;
}


/* Search bar */
.search-container {
    display: none;
}

.search-icon-container {
    position: relative;
    display: inline-block;
}

.search-input-desktop,
.search-input-mobile {
    padding: 8px;
    padding-left: 30px;
    margin-left: 4px;
    border-radius: 50px;
    width: 100%;
    font-size: 1rem;
}

.search-input-desktop {
    border: 1px solid var(--primary-color-dark);
    width: 40vw; 
    max-width: 500px;
}

.search-input-mobile {
    border: none;
}

.search-input-mobile:focus-visible {
    outline: 0;
}

.search-icon-desktop,
.search-icon-mobile {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.search-results-container-desktop, .search-results-container-mobile {
    position: absolute;
    background-color: var(--primary-color-light);;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 100; 
    text-align: left;  
    max-height: 50vh;
    overflow-y: scroll; 
}

.search-results-container-desktop div, .search-results-container-mobile div {
    padding: 8px;
    cursor: pointer;
    padding-left: 1.8rem;
}

.search-results-container-desktop div:hover, .search-results-container-mobile div:hover {
    background-color: #f0f0f0;
}

.search-results-container-desktop, .search-results-container-mobile {
    position: absolute;
    background-color: var(--primary-color-light);;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 100; 
    text-align: left;  
    max-height: 50vh;
    overflow-y: scroll; 
}

.search-results-container-desktop div, .search-results-container-mobile div {
    padding: 8px;
    cursor: pointer;
    padding-left: 1.8rem;
}

.search-results-container-desktop div:hover, .search-results-container-mobile div:hover {
    background-color: #f0f0f0;
}

#export-json, 
#reset-storage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 3em 0;
    padding: 1em 0;
    border: 3px solid #000000;
    text-align: center;
}

#export-json button, #reset-storage button {
    background: none;
    border: 3px solid #000000;
    color: #000000;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1rem;
    max-width: 150px;
    font-weight: 600;
    margin-top: 2em;
}

.settings-text {
    font-size: 1rem;
}

.collapsed {
    display: none;
}

#footer-content-div {
    display: grid;
    gap: 0.5em;
    padding: 0.5em 0;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;

}

.footer-content-head {
    display: flex;
   justify-content: center;
   gap: 0.5em;
}

.developers-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

/* Media Queries */
@media (max-width:375px) {

    #add-day {
        flex-direction: row;
        justify-content: space-around;
        gap: 0.5em;
        margin: 0.8rem 0rem;
        max-width: 300px;
    }

    #add-day-submit,
    #add-day-cancel,
    #show-day-dropdrown,
    #date-entry {
        font-size: 0.7rem;
        padding: 0.5em 0.5em;
    }

    .month-button {
        font-size: 1.5rem;
    }

    .desc-item {
        flex-direction: column;
    }

    .task-days {
        flex-direction: row;
        margin: 0.5rem 1rem;
        gap: 1.8em;
    }

    .day-widget {
        margin: 0;
    }

    .day-widget button {
        padding: 0.1em 0.1em;
    }
}

@media(min-width:376px) and (max-width: 450px) {
    .task-element {
        font-size: 1.1rem;
    }

    .month-button {
        font-size: 1.5rem;
    }

    .task-days {
        flex-direction: row;
        margin: 0.5rem 2rem;

    }


    #add-day-submit,
    #add-day-cancel,
    #show-day-dropdrown,
    #date-entry {
        font-size: 0.8rem;
        padding: 0.8em 0.8em;
    }

}

@media(max-width: 600px) {
    #add-day {
        flex-direction: row;
        justify-content: space-around;
        gap: 0.5em;
        margin: 0.8rem 0rem;
        max-width: 400px;
    }

    .desc-item {
        flex-direction: column;
    }

    #deadline-desc {
        text-align: left;
    }

    .desc-item {
        margin: 1.5rem 0.5rem;
    }

    .day-widget button {
        padding: 0 0.2em;
    }

    #button-div {
        flex-direction: row;
    }

}

@media(min-width: 600px) {
    #export-json, 
    #reset-storage {
        justify-content: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 3em 0;
        padding: 1.5em;
    }

    #export-json button, #reset-storage button {
        padding: 0.5em 1em;
        margin: 0;
        font-size: 1.2rem;
    }

    .settings-text {
        font-size: 1.2rem;
        margin-right: 1em;
    }
}


@media(min-width: 768px) {
        .intro-logo {
        max-width: 150px;
    }

    .intro-form input::placeholder {
        font-size: 2rem;
    }

    .start-btn {
        font-size: 1.8rem;
    }
    .form-title {
        font-size: 1.8rem;
    }

    .intro-form input, .form-choice {
    font-size: 2rem;
    }

    .choice-btn {
        font-size: 1.9rem;
    } 
    
    .nav-search-container {
        display: none;
    }

    .nav-menu-list li:nth-child(2) {
        border-top: none;
    }

    .search-container {
        display: block;
        margin: 20px;
        text-align: center;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 650px;
        width: 80%;
        max-width: 800px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px 2px #666;
    }

    .checkbox-label {
        width: 97%;
    }

    .checkbox {
        width: 3%;
    }

    #task-desc {
        width: 100%;
        height: 100%;
    }

    #category-page {
        height: 100vh;
        padding: 2em 0 0 2em;
    }

    #categories-container {
        margin-left: 2em;
    }

    .categories-content {
        padding: 2em 0 0 2em;
        font-size: 1.7rem;
    }


    #add-category-button {
        font-size: 1.8rem;
    }


    .category button {
        font-size: 1.5rem;
    }


    .activity,
    .category {
        margin-top: 1em;
    }

    .activity {
        margin-left: 2em;
    }

    .back-img {
        height: 60px;
    }

    .logo img {
        max-height: 80px;
    }

    .checklist-task-element {
        font-size: 1.3rem;
    }

    #detailed-desc {
        font-size: 1.3rem;
    }

}

footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #d9d9d9;
    border-radius: 4px;
    margin-top: auto;
    padding-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: rgb(110, 15, 173);
}

.main-github-icon, .chingu-icon {
    width: 25px;
}

.member-icon {
    width: 20px;
}

li {
    list-style-type: none;
}

.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0rem 2rem 2rem 2rem;
}

.member-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-top: 0.3rem;
}

.footer-content-head {
    margin: 1rem 0rem;
}

#footer-content-div {
    width: 100%;
}

#footer-about {
    text-align: center;
    margin-top: 1em;
}

.chingu-icon-div {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5em;
}

.footer-list li {
    margin-right: 30px;
    cursor: pointer;
    transition: color 0.25s;
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.footer-img {
    width: 30px;
    border-radius: 50%;
}

@media(max-width: 600px) {
    .footer-content {
        padding: 0rem 0.5rem 0.5rem 0.5rem;
    }
}

footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #d9d9d9;
    border-radius: 4px;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #000000;
    font-weight: 700;
}

li {
    list-style-type: none;
}

.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0rem 2rem 2rem 2rem;
}

.member-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.3rem;
}

.footer-content-head {
    margin: 1rem 0rem;
}

#footer-content-div {
   
    width: 100%;
}

#footer-about {
    text-align: center;
}

.footer-list li {
    margin-right: 30px;
    cursor: pointer;
    transition: color 0.25s;
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-img {
    width: 40px;
    border-radius: 50%;
}

@media(max-width: 600px) {
    .footer-content {
        padding: 0rem 0.5rem 0.5rem 0.5rem;
    }

    #footer-content-div {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }

    .footer-content {
        width: 100%;
        border-radius: 0;
        margin-top: 1rem;
        padding: 0rem 0.5rem 0.5rem 0.5rem;
    }
}


@media(max-width: 929px) {

.intro-main-img, .form-main-img {
    max-width: 500px;
    width: 100%;
}

}
@media(min-width: 930px) {
    
    .welcome-page-container, .form-container {
        flex-direction: row;
        justify-content: space-around;
       margin-top: 5em;
    }

    .welcome-img-container, .form-img-container {
        padding: 2em;
    }

    .welcome-img-container{
        width: 50%;
    }
    .form-img-container {
        width: 50%;
    }  

    .welcome-text-container, .form-text-container {
        max-width: 700px;
        padding: 2em;
    }

    .welcome-text-container {
        width: 40%;
    }
    .form-text-container {
        width: 50%;
    } 

    .intro-main-img , .form-main-img {
        max-width: 700px;
        width: 100%;
    }
    .welcome-img-container, .form-img-container {
        padding: 2em;
    }

    .welcome-text-container, .form-text-container {
        padding: 2em;
    }

    .intro-form input {
        margin: 2em 0;
    }
    
}
