body {
    font-family: "Inter", sans-serif;
}

/* intro layout */
.intro {
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.intro a {
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    font-size: 2rem;
}

.welcome-page * {
    font-weight: 300;
    font-size: 2.1rem;
    text-transform: uppercase;
}

.title {
    border-bottom: 3px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-img {
    width: 15px;
    border: 2px solid #000000;
    border-radius: 50%;
    padding: 0.2em;
}

.logo {
    width: 240px;
    border-radius: 50%;
    margin-bottom: 0;
}

.welcome-page span {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
}


.description {
    padding: 0.2em 0;
    margin: 1em 0.5em 0 0.5em;
    border-radius: 15px;
    letter-spacing: 0;
}

.description h3 {
    text-transform: lowercase;
    font-size: 1.8rem;
}

.intro-btn {
    display: flex;
    justify-content: end;
}

.start-btn {
    background: none;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0.4em 0.7em;
    margin: 1em 0.5em;
    font-size: 1em;
    text-transform: lowercase;
}

.intro-form * {
    font-weight: 400;
}

.intro-form {
    display: none;
}

.form-img {
    margin-top: 2em;
    width: 200px;
}

.form-title {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin: 1.5em 0.6em;
    padding: 0.3em 0.2em;
    font-size: 1.8rem;
}

.description,
.form-title {
    background: #d9d9d9;
}

.intro-form input {
    border: none;
    width: 80%;
    border-bottom: 1px solid #000000;
    padding-bottom: 0.2em;
    margin: 2em 0;
}

.intro-form input::placeholder {
    font-size: 2rem;
}

.intro-form input:focus {
    outline: none;
}

.intro-form input,
.form-choice {
    font-size: 2rem;
}

.form-choice-btns {
    margin-bottom: 1em;
}

.choice-btn {
    background-color: #d9d9d9;
    text-transform: uppercase;
    border: none;
    font-size: 1.9rem;
    border-radius: 10px;
    padding: 0.4em 0.5em;
    margin: 1em 2em;
}

/*___________________*/

#month {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.month-button {
    font-size: 30px;
    margin: 0rem 0.2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    overflow-y: auto;
    max-height: 110px;
    width: 150px;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
    background-color: rgb(215, 210, 210);
}

.dropdown-content a:hover {
    background-color: aliceblue;
}

.mobile-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    font-size: 20px;
}

.days {
    width: 100%;
}

.day-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-color: black;
    padding-top: 1rem;
}

.task-list {
    padding-top: 1rem;
    width: 100%;
}

.task-element {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-width: 0.1rem;
}

#category-page {
    background: #f0f8ff;
    padding: 20px;
}

#add-category-button {
    background: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.category, .activity, .task {
    margin-left: 20px;
    margin-top: 10px;
}


.activity-input {
    margin: 10px 0;
}

.new-activity-name {
    margin-right: 5px;
}

.task-input {
    margin: 10px 0;
}

.new-task-name,
.new-task-desc,
.new-task-date {
    margin-right: 5px;
}
